body {
  height: 100vh;
}

#content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
}

#nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 80%);
}
#nav > div:first-child {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav > div:nth-child(2) {
  grid-column: 7 / span 6;
}
#nav > div:nth-child(2) > ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
#nav > div:nth-child(2) > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 100%;
  width: 100px;
  border-top: 5px solid hsl(0, 0%, 20%);
  box-sizing: border-box;
}

#hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
#hero-container > div:nth-child(1) {
  grid-column: 1 / 2;
}
#hero-container > div:nth-child(2) {
  grid-column: 2/ 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#hero-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
}

#popular-meals > div {
  display: flex;
  justify-content: space-evenly;
}
#popular-meals > div > div > img {
  width: 100px;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  object-fit: cover;
}
#popular-meals > div > div > p {
  text-align: center;
}

label {
  display: block;
}
